[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
blinker = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-restful = "*"
flask-mail = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"
flask-cors = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
